* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --gap: clamp(10px, 5vw, 50px);
}

body,
input {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  border-top: 2px solid black;
}

a {
  color: black;
}

main {
  padding-top: 10px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--gap) 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}

header a {
  color: black;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

header,
.header__left,
.header__right {
  row-gap: 15px;
}

.header__left_nav ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  column-gap: 5px;
}

.header__left_nav ul a {
  padding: 5px 0;
  font-size: 0.9rem;
}

.header__logo {
  font-size: 30px;
  font-weight: bold;
}

.header__logo a:hover {
  color: inherit;
  text-decoration: none;
}

.header__right_links {
  font-weight: bold;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 5px;
  text-align: center;
}

.header__right_links a:not(:last-of-type) {
  padding-right: 5px;
  border-right: 0.2rem solid rgba(0, 0, 0, 0.615);
}

.header__right_links a {
  display: inline-block;
}

.header__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header__search_wrapper {
  position: relative;
}

.header__search_wrapper svg {
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
  left: 10px;
  pointer-events: none;
}

.header__search {
  border: 1px solid rgba(128, 128, 128, 0.306);
  padding: 7px;
  padding-left: 40px;
  border-radius: 5px;
  outline: none;
}

.header__search:focus {
  border-color: hotpink;
}

header a:hover {
  text-decoration: underline;
  color: hotpink;
}

.header__btn {
  border: none;
  cursor: pointer;
  width: 20px;
}

.header__btn > svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: none;
}

.header__btn:hover {
  color: hotpink;
}

.header__btn:hover {
  background: none;
}

.header__buttons_row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 50px;
  padding: 0 5px;
  margin-bottom: 50px;
}

.footer a:not(.footer_col3__items_btn):hover {
  color: hotpink;
}

.footer section h3 {
  margin-bottom: 10px;
}

.footer section {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 10px;
}

.footer_col2 ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.footer_col2 a {
  text-decoration: none;
}

.footer_col2 a:hover {
  text-decoration: underline;
  text-decoration-color: hotpink;
  text-decoration-thickness: 2px;
}

.mt-1 {
  padding-top: 50px;
}

.footer_col1__inputs {
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
}

.footer_col1__inputs input[type="text"] {
  padding: 5px;
  width: 60%;
  font-size: 0.7rem;
  border: 1px solid black;
}

.footer_col1__inputs input[type="text"]:focus {
  background-color: rgb(232, 232, 232);
  border: 1px solid hotpink;
  outline: none;
}

.footer_col1__inputs input[type="button"] {
  padding: 5px 20px;
  border-radius: 0;
  background-color: black;
  color: white;
  cursor: pointer;
  border: 1px solid black;
}

.footer_col1__socials {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer_col1__socials a:hover {
  color: hotpink;
}

.footer_col3__items a {
  text-decoration: none;
}

.footer_col3__items {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.footer_col3__items_btn {
  border: 1px solid gray;
  padding: 10px;
  display: inline-block;
}

.footer_col3__items_btn:hover {
  background-color: hotpink;
  color: black;
}

.footer_col3__items_link:hover {
  text-decoration: underline;
  text-decoration-color: hotpink;
}

.footer_col3__items_category {
  color: rgb(80, 80, 80);
}

.footer_col3__items_payment_methods {
  display: flex;
  align-items: center;
  margin-top: 10px;
  column-gap: 2px;
}

.footer_col3__items_payment_methods a:hover {
  transform: scale(1.1);
  border-radius: 50%;
}

@media screen and (max-width: 700px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .header__left {
    text-align: center;
  }

  .header__logo {
    margin: 0 auto;
    width: 100%;
  }

  .header__left_nav ul {
    justify-content: center;
  }

  .header__search {
    width: 100%;
  }

  .header__left_nav ul {
    column-gap: 10px;
  }
}
