* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --gap: clamp(10px, 5vw, 50px);
}

body,
input {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  border-top: 2px solid black;
}

main {
  padding-top: 10px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--gap) 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}

header a {
  color: black;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

header,
.header__left,
.header__right {
  row-gap: 15px;
}

.header__left_nav ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  column-gap: 5px;
}

.header__left_nav ul a {
  padding: 5px 0;
  font-size: 0.9rem;
}

.header__logo {
  font-size: 30px;
  font-weight: bold;
}

.header__right_links {
  font-weight: bold;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 5px;
  text-align: center;
}

.header__right_links a:not(:last-of-type) {
  padding-right: 5px;
  border-right: 0.2rem solid rgba(0, 0, 0, 0.615);
}

.header__right_links a {
  display: inline-block;
}

.header__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header__search_wrapper {
  position: relative;
}

.header__search_wrapper svg {
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
  left: 10px;
  pointer-events: none;
}

.header__search {
  border: 1px solid rgba(128, 128, 128, 0.306);
  padding: 7px;
  padding-left: 40px;
  border-radius: 5px;
}

.header__btn {
  border: none;
  cursor: pointer;
  width: 20px;
}

.header__btn > svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: none;
}

.header__btn:hover {
  background: none;
}

.header__buttons_row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.boots {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.image_block img {
  width: 100%;
}

.tripple_section > a:hover h3 {
  text-decoration: underline;
}

.tripple_section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.tripple_section_block_bottom {
  padding-left: 12%;
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.tripple_section_link {
  margin-top: 10px;
  text-decoration: underline;
}

.tripple_section_block {
  display: flex;
  flex-direction: column;
  color: black;
  text-decoration: none;
}

.tripple_section_block img {
  display: block;
  width: 100%;
}

.boots_block {
  margin: var(--gap) 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
  text-align: center;
}

.boots_block img {
  width: 120px;
  display: block;
  margin-bottom: 10px;
}

.dual_section img {
  width: 100%;
}

.dual_section {
  width: 100%;
  display: flex;
}

.sale_section_top,
.sale_section_bottom {
  width: 100%;
}

.sale_section_top,
.sale_section_top a {
  display: flex;
}

.sale_section_bottom {
  display: flex;
}

.sale_section_top img {
  width: 20%;
}

.sale_section_top img,
.sale_section_bottom img {
  width: 100%;
}

.mt-1 {
  padding-top: 50px;
}

@media screen and (max-width: 700px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .header__left {
    text-align: center;
  }

  .header__logo {
    margin: 0 auto;
    width: 100%;
  }

  .header__left_nav ul {
    justify-content: center;
  }

  .header__search {
    width: 100%;
  }

  .boots_block {
    flex-basis: 50%;
  }

  .header__left_nav ul {
    column-gap: 10px;
  }

  .dual_section {
    flex-wrap: wrap;
  }

  .tripple_section {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
